<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Habufa Extranet</title>
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="css/ie.css" type="text/css"> <script src="js/modules/html5shiv.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    @if (ViewData["Bootstrap"] == "true")
    {
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    }
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-4-grid/css/grid.css" rel="stylesheet" />
    @RenderSection("css", required: false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser-polyfill.min.js"></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.20.1/moment.min.js"></script>
    <script src="https://unpkg.com/vee-validate@2.0.0-rc.25/dist/vee-validate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/lib/tinymce-vue/tinymce-vue.min.js"></script>
</head>
<body>
    <div id="app" v-cloak>
        <v-app id="inspire" :dark="isDark" class="grey lighten-5">
            @* Layout *@
            <comp-navigation ref="nav" :usercustomers="user.CustomerNumbers" :userconcepts="user.Concepts"></comp-navigation>
            @* -Layout- *@
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
            @* Notifications ETC *@
            <v-snackbar v-model="snackbar.show"
                        :color="snackbar.color"
                        :bottom="snackbar.y === 'bottom'"
                        :left="snackbar.x === 'left'"
                        :multi-line="snackbar.mode === 'multi-line'"
                        :right="snackbar.x === 'right'"
                        :timeout="snackbar.timeout"
                        :top="snackbar.y === 'top'"
                        :vertical="snackbar.mode === 'vertical'">
                {{ snackbar.text }}
                <v-btn color="black"
                       flat
                       v-on:click="snackbar.show = false">
                    X
                </v-btn>
            </v-snackbar>

            <footer class="border-top footer text-muted">
                <div class="container">
                    &copy; 2018 - CoreWebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>
        </v-app>
    </div>
    <script src="~/js/default.js"></script>
    <!-- Components are loaded here: -->
    @Html.Partial($"~/Views/Components/HelperOffset.cshtml")
    @Html.Partial($"~/Views/Components/Navigation.cshtml")
    @RenderSection("VueComponents", required: false)
    <!-- #END -->
    <script src="~/js/app.js"></script>
    <script type="text/javascript">
    var app = new Vue({
        data: {
            user: {
                Id: 0,
                Name: '@User.Identity.Name',
                Roles: ''
            },
            bgClass: "bg-primary",
            isDark: false,
            headers: [
                {
                    sortable: false,
                    text: 'ID',
                    value: 'id'
                },
                {
                    sortable: false,
                    text: 'Name',
                    value: 'name'
                },
                {
                    sortable: false,
                    text: 'Country',
                    value: 'country',
                    align: 'right'
                },
                {
                    sortable: false,
                    text: 'City',
                    value: 'city',
                    align: 'right'
                },
                {
                    sortable: false,
                    text: 'Order Amount',
                    value: 'salary',
                    align: 'right'
                }
            ],
            links: [
                { name: 'Home', Link: '/' },
            ],
            snackbar: {
                show: false,
                color: '',
                y: 'top',
                x: null,
                mode: '',
                timeout: 6000,
                text: ''
            }
        },
        methods: {
            showSnackbar: function(color, text) {
                console.log("Showing snackbar: ", color, text);
                this.snackbar.color = color;
                this.snackbar.text = text;
                this.snackbar.show = true;
            }

        },
        mounted: function() {
            console.log(this.user);
        },
        computed: {
        }
    }).$mount('#app');

    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
